<h1>Your Stats, Padawan</h1>



Rounds:

<% @rounds.each do |r| %>


<p><%= r.id%>. Deck: <%= r.deck.name %>,
Total guesses: <%= r.guesses.count %>,
Correct: <%= Guess.where(round_id: r.id, status: "correct").count%>,
Incorrect: <%= Guess.where(round_id: r.id, status: "wrong").count%>
</p>

<% end %>